.main {
  padding: 1.6rem;
  border-radius: 1.6rem;
  background: var(--primary);
  border: none;
}

.main:hover {
  background: var(--primary-light);
  cursor: pointer;
  transition: background 0.3s;
}