.title {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: .8rem;
  transition: filter .3s ease-in-out;
}

.title a {
  font-size: 4.1rem;
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
}

.title:hover {
  filter: brightness(80%);
}

.icon {
  color: var(--primary);
  width: 6.4rem;
  height: 6.4rem;
}